{{#if user}}
    <div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
        <h2 class="margin">Hi, {{user.name}}</h2>
        <h4 id='warning'>{{messages.warning}}</h4>
    </div>

{{/if}}

<h1 style="color:white">-Welcome to Your Dashboard-</h1>

{{#if is_admin}}
    <h1 class="margin" style="color:lightgreen"></span></h1>
    <div class="mother">



<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="/img/ProfileNelisa.png">
                </div>
                <div class="info1">
                    <div class="title">
                        <a  href="http://http:www.radlee.github.io/"><span style="color:lightblue">Nelisa Spaza</sapn></a>
                    </div>
                    <div class="desc">Lives : Khayelitsha</div>
                    <div class="desc">Role : Amin/Manager</div>
                    <div class="desc">Controll Panell : Full</div>
                    <div class="desc">Can : Do whatever she wants</div>
                </div>

                <div class="col-md-12">
            <ul class="social-network social-circle">
              <li><a href="https://www.behance.net/lee101" target="_blank" class="icoBehance" title="Behance"><i class="fa fa-behance"></i></a></li>
              <li><a href="https://za.linkedin.com/in/lolito-mafanga-08829912a" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="http://radlee.github.io" target="_blank" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
            </ul>
				</div>

            </div>

        </div>

        <div id="panelContent" class="col-sm-6 col-lg-3">
            <div class="panel panel-metric">
                <div class="panel-body">
                    <div class="metric-content">
                        <div class="value">
                            R2,154
                        </div>
                        <div class="trend">
                            <p class="text-success">
                                <i class="fa fa-chevron-up"></i> 40.2%
                            </p>
                            <strong>Previous 30 Days</strong>
                        </div>
                        <div id="metric-1" class="chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas><canvas class="flot-overlay" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas></div>
                        <header>
                            <h2 class="thin">Monthly Earnings</h2>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="panel panel-metric">
                <div class="panel-body">
                    <div class="metric-content">
                        <div class="value">
                            R314
                        </div>
                        <div class="trend">
                            <p class="text-success">
                                <i class="fa fa-chevron-up"></i> 10.9%
                            </p>
                            <strong>Previous 7 Days</strong>
                        </div>
                        <div id="metric-2" class="chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas><canvas class="flot-overlay" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas></div>
                        <header>
                            <h2 class="thin">Weekly Earnings</h2>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="panel panel-metric">
                <div class="panel-body">
                    <div class="metric-content">
                        <div class="value">
                            305
                        </div>
                        <div class="trend">
                            <p class="text-success">
                                <i class="fa fa-chevron-up"></i> 15.6%
                            </p>
                            <strong>Previous 30 Days</strong>
                        </div>
                        <div id="metric-3" class="chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas><canvas class="flot-overlay" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas></div>
                        <header>
                            <h2 class="thin">New Customers</h2>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="panel panel-metric">
                <div class="panel-body">
                    <div class="metric-content">
                        <div class="value">
                            14%
                        </div>
                        <div class="trend">
                            <p class="text-danger">
                                <i class="fa fa-chevron-up"></i> 15.6%
                            </p>
                            <strong>Previous 30 Days</strong>
                        </div>
                        <div id="metric-4" class="chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas><canvas class="flot-overlay" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas></div>
                        <header>
                            <h2 class="thin">Lifetime Value</h2>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="panel panel-metric">
                <div class="panel-body">
                    <div class="metric-content">
                        <div class="value">
                            43,213
                        </div>
                        <div class="trend">
                            <p class="text-success">
                                <i class="fa fa-chevron-up"></i> 10.3%
                            </p>
                            <strong>Previous 30 Days</strong>
                        </div>
                        <div id="metric-5" class="chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas><canvas class="flot-overlay" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas></div>
                        <header>
                            <h2 class="thin">Page Views</h2>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="panel panel-metric">
                <div class="panel-body">
                    <div class="metric-content">
                        <div class="value">
                            30%
                        </div>
                        <div class="trend">
                            <p class="text-danger">
                                <i class="fa fa-chevron-down"></i> 2.3%
                            </p>
                            <strong>Previous 30 Days</strong>
                        </div>
                        <div id="metric-6" class="chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas><canvas class="flot-overlay" width="397" height="135" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 397px; height: 135px;"></canvas></div>
                        <header>
                            <h2 class="thin">Unique Visitors</h2>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    {{else}}
    <div class="container">

    <div class="mother">
    <div class="col-xs-12 col-md-2">
        <a href="#" class="thumbnail">
            <img src="/img/ProfileXolani.png" alt="Sk">
        </a>
    </div>
    <div class="col-xs-12 col-md-2">
        <h2>Assistant</h2>
        <ul>
          <li><p>Lives : Khayelitsha</p></li>
          <li><p>Role : SmallAdmin</p></li>
          <li><p>Controll Panell : 1/5</p></li>
          <li><p>Can : Do stuff</p></li>
        </ul>
    </div>

    <div class="col-xs-12 col-md-2">
        <a href="#" class="thumbnail">
            <img src="/img/sk.jpg" alt="Sk">
        </a>
    </div>
    <div class="col-xs-12 col-md-2">
        <a href="#" class="thumbnail">
            <img src="/img/ProjectcodeX3.png" alt="Sk">
        </a>
    </div>
    </div>
    </div>
{{/if}}
