<h1 style="color:white"> Social Windows </h1>


<div class="row-tweets">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6">
    <a class="twitter-timeline" data-theme="light" href="https://twitter.com/101LEANDER">Tweets by 101LEANDER</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="col-xs-3">
    <a class="twitter-timeline" data-theme="light" href="https://twitter.com/101LEANDER">Tweets by 101LEANDER</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
